spawn-at-startup "noctalia-shell"
spawn-at-startup "niriswitcher"
spawn-at-startup "swayidle" "-w" "timeout" "600" "niri msg action power-off-monitors"

input {
  keyboard {
    xkb {
      layout "us"
    }
  }
  touchpad {
    tap
    dwt
  }
}

binds {
  // Basic actions
  Mod+Return { spawn "ghostty"; }
  Mod+B { spawn "zen"; }
  Mod+Q { close-window; }
  Mod+Space { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
  Mod+Tab { spawn "niriswitcherctl" "show" "--window"; }

  // Move across windows
  Mod+H { focus-column-left; }
  Mod+J { focus-window-or-workspace-down; }
  Mod+K { focus-window-or-workspace-up; }
  Mod+L { focus-column-right; }

  // Move windows
  Mod+Shift+H { move-column-left-or-to-monitor-left; }
  Mod+Shift+J { move-window-down-or-to-workspace-down; }
  Mod+Shift+K { move-window-up-or-to-workspace-up; }
  Mod+Shift+L { move-column-right-or-to-monitor-right; }
  Mod+Shift+P { switch-preset-column-width-back; }
  Mod+Shift+T { toggle-window-floating; }

  // Focus workspaces
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }

  // Move window to workspace
  Mod+Shift+1 { move-window-to-workspace 1; }
  Mod+Shift+2 { move-window-to-workspace 2; }
  Mod+Shift+3 { move-window-to-workspace 3; }

  // Utilities
  Mod+Shift+F { fullscreen-window; }
  Mod+Shift+R { spawn "~/.config/nixos/build"; }
  Mod+Shift+4 { spawn "~/.config/nixos/scripts/screenshot-area"; }
  Mod+F { maximize-column; }
  Mod+Alt+H { show-hotkey-overlay; }
  Mod+M { spawn "noctalia-shell" "ipc" "call" "media" "toggle"; }
  Mod+N { spawn "noctalia-shell" "ipc" "call" "notifications" "toggleHistory"; }
  Mod+O { toggle-overview; }
  Mod+Escape { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
  Mod+Comma { spawn "noctalia-shell" "ipc" "call" "settings" "toggle"; }

  XF86AudioRaiseVolume { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
  XF86AudioLowerVolume { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
  XF86AudioMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
  XF86AudioMicMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"; }

  XF86MonBrightnessUp { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
  XF86MonBrightnessDown { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }
  // XF86KbdBrightnessUp { spawn "dms" "ipc" "brightness" "increment" "5" "leds:kbd_backlight"; }
  // XF86KbdBrightnessDown { spawn "dms" "ipc" "brightness" "decrement" "5" "leds:kbd_backlight"; }

  XF86AudioNext { spawn "noctalia-shell" "ipc" "call" "media" "next"; }
  XF86AudioPause { spawn "noctalia-shell" "ipc" "call" "media" "playPause"; }
  XF86AudioPlay { spawn "noctalia-shell" "ipc" "call" "media" "playPause"; }
  XF86AudioPrev { spawn "noctalia-shell" "ipc" "call" "media" "previous"; }

  // Shut up!
  F1 { spawn "true"; }
}
